<?xml version="1.0"?>
<model>
  <name>plt_pole_wireless</name>
  <version>1.0</version>
  <sdf version='1.0'>pole_wireless.sdf</sdf>

  <author>
   <name>Luciano do Vale Ribeiro</name>
   <email>luciano-vale@hotmail.com</email>
  </author>

  <description>
    This is a model of a simple power line pole without cables.
  </description>
</model>
